@charset "UTF-8";
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  background: #ffffff;
  letter-spacing: 0.05em;
  line-height: 1.6;
  font-weight: 500;
  margin: 0 auto;
  padding: 0;
}

body > * {
  max-width: 3000px;
  margin: 0 auto;
}

section {
  max-width: 3000px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.layout-padding {
  padding: 0 5%;
}

.layout-inner {
  max-width: 1000px;
  margin: 0 auto;
}

.sp-only {
  display: none !important;
}
@media screen and (max-width: 1000px) {
  .sp-only {
    display: block !important;
  }
}

.pc-only {
  display: block !important;
}
@media screen and (max-width: 1000px) {
  .pc-only {
    display: none !important;
  }
}

.sp-inline-only {
  display: none !important;
}
@media screen and (max-width: 1000px) {
  .sp-inline-only {
    display: inline !important;
  }
}

.pc-inline-only {
  display: inline !important;
}
@media screen and (max-width: 1000px) {
  .pc-inline-only {
    display: none !important;
  }
}

.sp-inline-none {
  display: inline;
}
@media screen and (max-width: 1000px) {
  .sp-inline-none {
    display: none;
  }
}

.br-pc-only {
  display: inline;
}
@media screen and (max-width: 1000px) {
  .br-pc-only {
    display: none;
  }
}

.br-sp-only {
  display: none;
}
@media screen and (max-width: 1000px) {
  .br-sp-only {
    display: inline;
  }
}

.header {
  padding: 0.75rem 0;
}
.header__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__cta {
  height: 38px;
  max-width: 270px;
  display: inline-flex;
  align-items: center;
  background-color: #00bc85;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  padding: 0.5rem 0.75rem 0.5rem 5rem;
  text-decoration: none;
  transition: background-color 0.3s;
}
.header__cta:hover {
  background-color: #02986b;
}
.header__cta-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 17px;
  margin-left: 4.5rem;
}

.footer {
  color: #ffffff;
  background-color: #e16792;
}
.footer .p-footer__padding {
  padding: 0.75rem 5%;
}
.footer .p-footer__content {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  height: 100%;
  height: 204px;
}
.footer small {
  font-size: 1rem;
  text-align: center;
}

.fv__inner {
  padding: 2rem 5rem;
  text-align: left;
}
.fv__main-bg {
  background-image: url("../../../img/fv-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.fv__texts {
  margin-bottom: 1.56rem;
}
.fv__texts .fv__sub,
.fv__texts .fv__sub2 {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.6;
  color: #e16792;
  text-align: left;
}
.fv__texts .fv__sub-sm,
.fv__texts .fv__sub2-sm {
  font-size: 1.75rem;
}
.fv__lead {
  font-size: 1.5rem;
  line-height: 1;
  text-align: left;
  color: #000000;
  margin-bottom: 4.75rem;
}
.fv__title {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.3;
  text-align: left;
  letter-spacing: 0.1em;
  margin-bottom: 5rem;
}
.fv__title-lg {
  display: inline-block;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1;
}
.fv__title .gradient-text {
  background: linear-gradient(to left, #96e0da, #f8f1cc, #eaccf8, #937ef3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 0 transparent);
  -webkit-text-stroke: 0.3px transparent;
  transform: translateZ(0);
  overflow: visible;
}
.fv__title .highlight-bg {
  background-color: #000000;
  display: inline-block;
  padding: 0 0.25rem;
  overflow: visible;
  margin-bottom: 1.25rem;
}
.fv__title .highlight-bg:last-child {
  margin-bottom: 0;
}
.fv__info {
  background-color: #e16792;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10.625rem;
}
.fv__info .fv__label {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
  border: 2px solid #ffffff;
  padding: 0.625rem 2rem;
  margin: 0.625rem 1rem;
}
.fv__info .fv__date {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6;
}
.fv__info .fv__date-sm {
  font-size: 1.125rem;
}

.p-about {
  position: relative;
  padding-bottom: 6.5rem;
  background: #fff;
  overflow: hidden;
}
.p-about__subtitle {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 2.5rem;
  padding-bottom: 3.5rem;
  color: #e16792;
}
.p-about__subtitle .p-about__logo {
  font-size: 2.25rem;
  font-weight: 900;
}
.p-about__label {
  font-size: 1.625rem !important;
  font-weight: 600;
  line-height: 1;
}

.p-merit {
  position: relative;
  padding-bottom: 2.875rem;
  background: #ffffff;
  overflow: hidden;
}
.p-merit .c-text {
  text-align: left;
}
.p-merit .p-merit__bg {
  background-color: #232245;
}
.p-merit .p-merit__bg img {
  width: 56%;
  margin: 0 auto;
  display: block;
  /* モダンブラウザ用マスク */
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.p-merit-catch__group {
  margin: 0 auto;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-merit-catch__sub {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #000000;
}

.p-merit-catch__sub-text {
  font-size: 2rem;
  font-weight: 600;
}

.p-merit-catch__lines {
  display: inline-flex;
  position: relative;
  align-items: flex-end;
}
.p-merit-catch__lines--left {
  align-items: flex-end;
}
.p-merit-catch__lines--right {
  align-items: flex-end;
}

.p-merit-catch__line {
  width: auto;
  height: auto;
  display: inline-block;
  color: #000000;
}

.p-schedule {
  position: relative;
  background: linear-gradient(to right, #ff693b, #ffb66f, #faed83);
  overflow: hidden;
}
.p-schedule .p-schedule__text {
  text-align: left;
}
.p-schedule__layout {
  margin: 6.5rem auto !important;
}
.p-schedule__text {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}
.p-schedule__text dt {
  color: #e16792;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.p-schedule__text dt .icon-sm {
  font-size: 0.875rem;
  margin-right: 0.5rem;
}
.p-schedule__text dd {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.875rem;
}
.p-schedule__text dd p + p {
  margin-top: 1rem;
}
.p-schedule__text dd .text-sm {
  font-size: 0.875rem;
  font-weight: 400;
}

.c-p-faq__content {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 282px;
  padding: 2.5rem;
  background-color: #ffffff;
  box-shadow: 0 0 76px rgba(0, 0, 0, 0.14);
  position: relative;
}

.c-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  width: 540px;
  padding: 2.5rem 1.5rem;
  padding-left: 5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  border-radius: 9999px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 5.5rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.c-button--cta {
  background: #00bc85;
  color: #ffffff;
}
.c-button--cta:hover {
  filter: brightness(0.9);
}
.c-button--cta::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 30%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(230, 251, 173, 0.9));
  border-radius: inherit;
  pointer-events: none;
}
.c-button__text {
  white-space: nowrap;
}
.c-button__icon {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 8.75rem;
}
.c-button__icon-bg, .c-button__icon-arrow {
  position: absolute;
  top: 0;
  left: 0;
}
.c-button__icon-arrow {
  left: 17px;
  top: 13px;
  width: 14px;
  height: 17px;
}

.c-page-top {
  color: #ffffff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 900;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.c-page-top:hover {
  filter: brightness(0.9);
}
.c-page-top.is-visible {
  opacity: 1;
  visibility: visible;
}
.c-page-top__icon {
  position: relative;
  display: inline-block;
  width: 66px;
  height: 66px;
}
.c-page-top__bg {
  width: 100%;
  height: 100%;
}
.c-page-top__arrow {
  color: #e16792;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
}

.c-section-title {
  font-family: "Cookie", cursive;
  font-style: italic;
  font-size: 8.5rem;
  text-align: center;
  position: relative;
  z-index: 1;
}
.c-section-title .c-gradient-title {
  display: inline-block;
  padding: 0 0.75rem;
  background: linear-gradient(-133deg, #faed83 20%, #bf70dd 50%, #2e55c2 85%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-faq .p-faq__padding {
  margin-top: 150px;
  margin-bottom: 3.625rem;
}
.p-faq .p-faq__content {
  box-shadow: none;
  margin-top: 0;
}
.p-faq .p-faq__content .p-faq__label {
  margin-bottom: 55px;
}

.accordion {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}
.accordion__item {
  background-color: #e16792;
  margin-bottom: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.accordion__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1.25rem;
  position: relative;
}
.accordion__q {
  display: inline-block;
  font-size: 1.375rem;
  font-weight: 400;
  color: #e16792;
  background-color: #ffffff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  margin-right: 1.125rem;
  flex-shrink: 0;
}
.accordion__question-text {
  color: #fff;
  font-weight: bold;
  flex: 1;
}
.accordion__icon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.accordion__icon::before, .accordion__icon::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  transition: 0.3s;
}
.accordion__icon::before {
  width: 32px;
  height: 3px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.accordion__icon::after {
  width: 3px;
  height: 32px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.accordion__answer {
  background-color: #ffffff;
  display: none;
  padding: 1.25rem;
  outline: none;
}
.accordion__a {
  display: inline-block;
  font-size: 1.375rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #e16792;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  margin-right: 1.125rem;
  flex-shrink: 0;
}
.accordion__answer-text {
  display: inline;
  font-size: 1.125rem;
}
.accordion__item.is-open .accordion__answer {
  display: block;
}
.accordion__item.is-open .accordion__icon::after {
  transform: translateX(-50%) rotate(90deg);
  opacity: 0;
}

.c-section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 336px;
  z-index: 0;
}
.c-section-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.u-relative {
  position: relative;
}

.u-absolute-center {
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.c-card-wrap {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 282px;
  padding: 2.5rem;
  background-color: #ffffff;
  box-shadow: 0 0 76px rgba(0, 0, 0, 0.14);
  position: relative;
}

.c-card {
  text-align: center;
}

.c-label {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  margin-top: 1.5rem;
  margin-bottom: 2.375rem;
  background-color: #000000;
  padding: 0.625rem 0.75rem;
}
.c-label .gradient-text {
  background: linear-gradient(to left, #96e0da, #f8f1cc, #eaccf8, #937ef3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 0 transparent);
  -webkit-text-stroke: 0.3px transparent;
  transform: translateZ(0);
  overflow: visible;
}

.c-lead {
  font-size: 1.125rem;
  margin-bottom: 3rem;
}

.c-text {
  font-size: 1.125rem;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06rem;
  margin-bottom: 2.5rem;
}
.c-text p + p {
  margin-top: 1.5rem;
}

.p-merit-slider__inner {
  max-width: 920px;
}

.p-merit-slider {
  padding-top: 0.875rem;
}
.p-merit-slider__swiper {
  position: relative;
  overflow: visible;
  max-width: 1000px;
}
.p-merit-slider__slide {
  background-color: #e16792;
  color: #ffffff;
  padding: 2.75rem;
}
.p-merit-slider__slide2 {
  background-color: #00bc85;
}
.p-merit-slider__slide3 {
  background-color: #504bd5;
}
.p-merit-slider__profile {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
}
.p-merit-slider__icon {
  width: 152px;
  height: 152px;
  overflow: hidden;
  flex-shrink: 0;
}
.p-merit-slider__icon img {
  width: 100%;
  height: auto;
  display: block;
}
.p-merit-slider__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.p-merit-slider__name {
  font-size: 1.5rem;
}
.p-merit-slider__meta {
  font-size: 1.125rem;
}
.p-merit-slider__q-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.p-merit-slider__question {
  background-color: #000000;
  padding: 0.625rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px;
}
.p-merit-slider__answer {
  font-size: 1.125rem;
  line-height: 1.8;
}
.p-merit-slider__nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.p-merit-slider__nav > * {
  pointer-events: auto;
}
.p-merit-slider__prev, .p-merit-slider__next {
  display: block;
  pointer-events: auto;
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 52px 52px;
}
.p-merit-slider__prev.swiper-button-disabled, .p-merit-slider__next.swiper-button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.p-merit-slider__prev {
  position: absolute;
  background-image: url("../../img/btn-arrow-prev.png");
  left: -26px;
}
.p-merit-slider__next {
  position: absolute;
  background-image: url("../../img/btn-arrow-next.png");
  right: -26px;
}

.swiper-button-next:not(.p-merit-slider__next),
.swiper-button-prev:not(.p-merit-slider__prev) {
  display: none !important;
}/*# sourceMappingURL=style.css.map */