@use '../foundation/globals' as *;

// ==============================
// CTAボタン
// ==============================
.c-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  max-width: 540px;
  height: 108px;
  padding: $space-20 $space-28;

  @include font-button-bold;
  border-radius: $radius-pill;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: $space-70;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  @include mq(md) {
    font-size: $fs-26;
    margin-bottom: 60px;
    max-width: 300px;
    height: 65px;
    padding: $space-24;
  }
  @include mq(ssm) {
    max-width: 250px;
    font-size: $fs-20;
    height: 55px;
  }

  &--cta {
    background: $bg-primary;
    color: $text-white;

    &:hover {
      filter: brightness(0.9);
    }
    &::before {
      content: '';
      position: absolute;
      top: 1px;
      left: 50%;
      transform: translateX(-50%);
      width: 85%;
      height: 30%;
      background: linear-gradient(
        to top,
        rgba($bg-default, 0),
        rgba($green-100, 0.9)
      );

      border-radius: inherit;
      pointer-events: none;
    }
  }
  &__text {
    white-space: nowrap;
  }

  &__icon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 108px;
    vertical-align: middle;
    @include mq(md) {
      margin-left: 37px;
    }
    @include mq(ssm) {
      margin-left: 24px;
    }
  }

  &__icon-bg,
  &__icon-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mq(md) {
      width: 28px;
      height: 28px;
    }
  }

  &__icon-arrow {
    top: 50%;
    left: 52%;
    width: 14px;
    height: 17px;
    transform: translate(-50%, -50%);
    @include mq(md) {
      width: 9px;
      height: 12px;
    }
  }
}

// ==============================
// Topへボタン
// ==============================

.c-page-top {
  color: $bg-default;

  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: $z-fixed-ui;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  &:hover {
    filter: brightness(0.9);
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  &__icon {
    position: relative;
    display: inline-block;
    width: 66px;
    height: 66px;
    @include mq(md) {
      width: 56px;
      height: 56px;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
  }

  &__arrow {
    color: $border-accent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    @include mq(md) {
      width: 36px;
      height: 36px;
    }
  }
}
