@use '../foundation/globals' as *;

.header {
  padding: $space-12 0;

  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__cta {
    height: 38px;
    max-width: 270px;
    display: inline-flex;
    align-items: center;
    background-color: $bg-primary;
    @include font($fs-18, $font-weight-bold, $lh-none);
    color: $text-white;
    padding: $space-8 $space-12 $space-8 $space-80;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: $green-700;
    }

    &-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 14px;
      height: 17px;
      margin-left: $space-72;
    }
  }
}
